*{
    margin: 0;
    padding: 0;
    font-family: 'Rowdies', cursive;
    text-decoration-line: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap')

